@use "../../../variables.scss" as *;
.app-container {
  display: flex;
  min-height: 100vh;

  position: relative;
  // overflow: hidden;
}

.main-content {
  flex: 1;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background: $primary-dark;
}
